[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cart = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-filter = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
