[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cart = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
